@use '../settings/mixins';
@use '../settings/variables';
@use '../settings/colors';

%before-center {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  content: "";
}

.benefits {
  &__container {
    padding: 0 30px;
  }

  .benefits-box {
    height: 370px;
    background-color: colors.$color-neutral-lightest;
    margin: 30px auto;
    border-radius: 5px;

    &--flex {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      gap: 20px;
      height: fit-content;
    }

    &__text-wrapper {
      order: 2;
      padding: 0 15px;
    }

    &__text {
      font-family: variables.$ff-secondary;
      font-size: variables.$fs-text-s;
    }

    &__title {
      font-size: variables.$fs-title-s;
      font-weight: bold;
      margin: 20px 0;
    }

    &__image-wrapper {
      position: relative;
      height: 180px;

      &--macbook {
        &:before {
          @extend %before-center;
          height: 100px;
          width: 100px;
          transform: translate(calc(-50% + 40px), calc(-50% - 20px)) rotate(45deg);
          border-radius: 41px;
          background-color: colors.$color-secondary;
        }
      }

      &--iPhone {
        &:before {
          @extend %before-center;
          height: 150px;
          width: 150px;
          transform: translate(calc(-50% + 0px), calc(-50% + 0px)) rotate(45deg);
          border-radius: 50%;
          background-color: colors.$color-primary;
        }
      }

      &--trumpet {
        background-color: colors.$color-tertiary;
        border-radius: 5px;
      }

    }

    &__image {
      display: block;
      margin: 0 auto;

      &--macbook {
        width: 192px;
        transform: translate(-10px, 40px);
      }

      &--iPhone {
        width: 175px;
        transform: translate(30px, 30px);
      }

      &--trumpet {
        width: 250px;
        transform: translate(0px, 30px);
      }

    }
  }
}


//.container--benefits{
//  padding: 105px 0;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  gap: 37px;
//}
//
//.benefits-box {
//  width: 1124px;
//  height: 370px;
//  display: flex;
//  justify-content: space-between;
//  gap: 60px;
//}
//.benefits-box--reversed {
//  flex-direction: row-reverse;
//}
//
//.benefits-box__text-wrapper{
//  padding: 90px 0 90px 26px;
//  width: 460px;
//  flex-shrink: 0;
//}
//.benefits-box__text-wrapper--wider{
//  width: 600px;
//}
//
//.benefits-box__text{
//  font-family: var(--font-secondary);
//  font-size: 16px;
//  line-height: 22px;
//  margin-top: 30px;
//  margin-bottom: 50px;
//}
//
//.benefits-box__text-wrapper--underline-redish-clr::after{
//  display: block;
//  content: "";
//  width:325px;
//  height:4px;
//  background-color: var(--color-redish);
//}
//.benefits-box__text-wrapper--underline-primary-clr::after{
//  display: block;
//  content: "";
//  width:325px;
//  height:4px;
//  background-color: var(--color-primary);
//}
//.benefits-box__text-wrapper--underline-green-clr::after{
//  display: block;
//  content: "";
//  width:325px;
//  height:4px;
//  background-color: var(--color-green);
//}
//
//.benefits-box__image-wrapper{
//  flex-basis: 100%;
//}
//
//.benefits-box__image-wrapper--square::before{
//  display: block;
//  content: "";
//  height: 180px;
//  width: 180px;
//  transform: rotate(45deg) translate(280px, -160px);
//  border-radius: 41px;
//}
//.benefits-box__image-wrapper--circle::before{
//  display: block;
//  content: "";
//  height: 320px;
//  width: 320px;
//  transform: translate(90px, 20px);
//  border-radius: 50%;
//}
//
//.benefits-box__image-wrapper--element-redish-clr::before{
//  background-color: var(--color-redish);
//}
//.benefits-box__image-wrapper--element-primary-clr::before{
//  background-color: var(--color-primary);
//}
//.benefits-box__image-wrapper--element-green-clr::before{
//  background-color: var(--color-green);
//}
//
//.benefits-box__image-macbook{
//  height: 220px;
//  transform: translate(100px, -60px);
//}
//
//.benefits-box__image--iPhone{
//  height: 328px;
//  transform: translate(90px, -280px);
//}
//
//.benefits-box__image-trumpet{
//  height: 207px;
//  transform: translate(60px, 90px);
//}