@use '../settings/mixins';
@use '../settings/variables';
@use '../settings/colors';

.checkbox{
  display: flex;
  padding: 12px 0;
  gap: 16px;
  align-items: center;
  &__label{
    font-size: 12px;
    line-height: 17px;
    color: colors.$color-neutral;
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
  &__input{
    align-self: flex-start;
    flex-shrink: 0;
    appearance: none;
    height: 24px;
    width: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;
    background-color: colors.$color-neutral-lightest ;

    &:checked{
      background-image: url("../assets/Checkmark.svg");
      background-position: center;
      background-size: 12px;
      background-repeat: no-repeat;
    }
    &:hover{
      cursor: pointer;
    }
  }
}