@use '../settings/mixins';
@use '../settings/variables';
@use '../settings/colors';
@use 'sass:math';

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  @include mixins.breakpoint('max-width','sm'){
      padding: 0;
  }

  .nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    background-color: colors.$color-neutral-lightest;
    box-shadow: variables.$bs-nav;
    height: 70px;
    @include mixins.breakpoint('min-width','lg'){
      padding: 0 135px;
    }
    &__logo{
      font-size: variables.$fs-title-m;
      font-weight: 300;
      color: colors.$color-primary;
      text-decoration: none;
      letter-spacing: 0;
    }
    &__hamburger,{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: variables.$ham-gap;
      width: max-content;
      cursor: pointer;
      &:before, &:after, .nav__trigger{
        content: "";
        width: variables.$ham-bar-width;
        height: variables.$ham-bar-height;
        background-color: colors.$color-primary;
        border-radius: math.div(variables.$ham-bar-height, 2);
        transform-origin: left center;
        transition: all .5s ease-in-out;
      }
      &:has(.nav__trigger:checked):after{
        rotate:-45deg;
        translate: math.div((variables.$ham-x-length - variables.$ham-height), 2) math.div(variables.$ham-bar-height, 2);
        width: variables.$ham-x-length;
      }
      &:has(.nav__trigger:checked):before{
        rotate: 45deg;
        translate: math.div((variables.$ham-x-length - variables.$ham-height), 2) math.div(variables.$ham-bar-height, -2);
        width: variables.$ham-x-length;

      }
      &:has(.nav__trigger:checked) .nav__trigger{
        width: 0;
      }
      &:has(.nav__trigger:checked)~.nav__links{
        translate: 0 0;
        box-shadow: variables.$bs-nav;
      }
      &:hover{
        &:before, &:after, .nav__trigger{
          background-color: lighten(colors.$color-primary, 20%);
        }
      }

      @include mixins.breakpoint('min-width','lg'){
        display: none;
      }
    }
    &__trigger{
      appearance: none;
      margin: 0;
      padding: 0;
      cursor: pointer;
    }
    &__links{
      position: absolute;
      z-index: -1;
      width: 100%;
      top: 100%;
      translate: 0 -100%;
      left: 0;
      padding: 25px 25px;
      background-color: colors.$color-neutral-lightest;
      transition: all 0.5s ease-in-out;
      height: fit-content;

      @include mixins.breakpoint('min-width','lg'){
        display: flex;
        justify-content: space-between;
        flex-basis: 55%;
        position: static;
        z-index: 1;
        translate: 0 0;
        padding: 0;
        height: 100%;
        box-shadow: none!important;
      }
    }
    &__link{
      display: flex;
      align-items: center;
      line-height: 50px;
      font-family: variables.$ff-secondary;
      font-size: variables.$fs-text-s;
      font-weight: bold;
      color: colors.$color-neutral;
      text-decoration: none;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      border: transparent;
      transition: color 0.5s ease-in-out, border-bottom-color 0.5s ease-in-out;

      @include mixins.breakpoint('min-width','lg'){
        font-size: variables.$fs-text-xs;
      }

      &:hover{
        color: colors.$color-text;

        @include mixins.breakpoint('min-width','lg'){
          border-bottom: 2px solid colors.$color-primary;
          border-top: 2px solid transparent;

        }
      }
    }
  }
}
