@use '../settings/mixins';
@use '../settings/variables';
@use '../settings/colors';

.statistics {
  @include mixins.breakpoint('max-width', 'sm') {
    padding: 0;
  }

  &__container {
    background-color: colors.$color-neutral-lightest;
  }

  &__title {
    font-size: variables.$fs-title-s;
    text-align: center;
    padding: 50px 50px 0 50px;

    @include mixins.breakpoint('min-width','lg'){
      padding-top: 100px;
    }
  }

  &__box-wrapper {
    width: 70%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 50px;
    justify-content: space-between;
    text-align: center;
    gap: 25px;

    @include mixins.breakpoint('min-width','lg'){
      padding-bottom: 100px;
    }

    .statistics-box {
      &__icon {
        margin: 0 auto;
        width: 63px;
        height: 63px;
        background-color: #08a6e4;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &--primary {
          background-color: colors.$color-primary;
        }

        &--secondary {
          background-color: colors.$color-secondary;
        }

        &--tertiary {
          background-color: colors.$color-tertiary;
        }
      }

      &__img {
        transform: translateX(40%);
      }

      &__number {
        margin: 20px 0;
        font-size: variables.$fs-text-xxl;
        letter-spacing: 6px;
        font-weight: 800;
      }

      &__text {
        font-family: variables.$ff-secondary;
        text-align: center;
        font-size: variables.$fs-text-m;
        width: 110px;
        margin: 0 auto;
        line-height: 1.2em;
        color: colors.$color-neutral;
      }
    }
  }
}
