@use 'sass:math';

$columns: 12;
$gutters: 15px;
$base-column-size: math.div(100%, $columns);
$breakpoints: (
        xs: 576px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);